
<!DOCTYPE html>
<html lang="en">
  
  <% include template/head.ejs %>
  <body id='<%= pageID %>'>
  <% include template/nav.ejs %>

    <main role="main" class="container">
      <% include content/index_content.ejs %>
    </main><!-- /.container -->

    <% include template/js_scripts.ejs %>
  </body>
</html>
